<nav class="navigation left">
  <ul class="links">
    <li class="links item">
      <a href="/#open" class="link-item" title="link to {{@blog.title}} blog" id="blog-button">Blog</a>
      <a href="/sobre" class="link-item" title="" id="tags-button">Sobre</a>
      <a href="mailto:rafael@rafaelgontijo.com" class="link-item" title="" id="contact-button">Contato</a>
    </li>
  </ul>
</nav>
